<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Hut - Recuperar Contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/security/token.css') }}">
</head>
<body>
    <div class="card">
        <h2>Recuperar Contraseña</h2>
        <p class="text-muted">Ingresa el correo asociado a tu cuenta en el sistema.</p>
        
        <form id="forgotForm" novalidate>
            <p id="error-msg" class="error-alert"></p>
            
            <input type="email" id="email" placeholder="Ingrese su correo electrónico." required>
            
            <button type="submit">Enviar Enlace</button>
            <a href="/auth/login" class="btn-cancel">Cancelar</a>
        </form>
        
        <p id="mensaje"></p>
    </div>

    <script src="{{ url_for('static', filename='js/security/token.js') }}"></script>
</body>
</html>