<nav class="sidebar">
    <ul class="nav flex-column">
        {% if current_user.is_admin %}
        <li class="nav-item">
            <a class="nav-link sidebar-toggler" href="javascript:void(0)">
                <i class="bi bi-people"></i> Usuarios <i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <div class="menu-desplegable">
                <a class="nav-link sub-link" href="{{ url_for('security.admin_pending_requests') }}">Gestión de Permisos</a>
                <a class="nav-link sub-link" href="#">Gestión de Usuarios</a>
            </div>
        </li>
        {% endif %}

        {% if current_user.is_admin %}
        <li class="nav-item">
            <a class="nav-link sidebar-toggler" href="javascript:void(0)">
                <i class="bi bi-building"></i> Sedes <i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <div class="menu-desplegable">
                <a class="nav-link sub-link" href="{{ url_for('locations.register_location') }}">Registro de Sedes</a>
                <a class="nav-link sub-link" href="{{ url_for('list_sedes_bp.list_sedes') }}">Gestión de Sedes</a>
            </div>
        </li>
        {% endif %}

        {% if current_user.is_admin or current_user.is_management or current_user.is_manager or current_user.is_assistant_manager or current_user.is_operations %}
        <li class="nav-item">
            <a class="nav-link sidebar-toggler" href="javascript:void(0)">
                <i class="bi bi-box-seam"></i> Inventario <i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <div class="menu-desplegable">
                <a class="nav-link sub-link" href="{{ url_for('inventory.list_categories') }}">Categorías</a>
                <a class="nav-link sub-link" href="{{ url_for('inventory.create_product') }}">Registro de Insumos</a>
                <a class="nav-link sub-link" href="{{ url_for('inventory.list_products') }}">Gestión de Insumos</a>
            </div>
        </li>
        {% endif %}

        {% if current_user.is_admin or current_user.is_management or current_user.is_manager %}
        <li class="nav-item">
            <a class="nav-link sidebar-toggler" href="javascript:void(0)">
                <i class="bi bi-cart"></i> Compras <i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <div class="menu-desplegable">
                <a class="nav-link sub-link" href="{{ url_for('purchase_routes.new_purchase_form') }}">Nueva Compra</a>
                <a class="nav-link sub-link" href="{{ url_for('purchase_history.index') }}">Gestión de Compras</a>
                <a class="nav-link sub-link" href="{{ url_for('supplier_list.register_supplier_view') }}">Nuevo Proveedor</a>
                <a class="nav-link sub-link" href="{{ url_for('supplier_list.index') }}">Proveedores</a>
            </div>
        </li>
        {% endif %}

        {% if current_user.is_admin or current_user.is_management or current_user.is_manager or current_user.is_assistant_manager or current_user.is_operations %}
        <li class="nav-item">
            <a class="nav-link sidebar-toggler" href="javascript:void(0)">
                <i class="bi bi-truck"></i> Traslados y Mermas <i class="bi bi-chevron-down ms-auto"></i>

            </a>
            <div class="menu-desplegable">
                <a class="nav-link sub-link" href="#">Gestión de Traslados</a>
                <a class="nav-link sub-link" href="#">Gestión de Mermas</a>
            </div>
        </li>
        {% endif %}

        {% if current_user.is_admin or current_user.is_finance %}
        <li class="nav-item">
            <a class="nav-link sidebar-toggler" href="{{ url_for('audit.ver_auditoria_accesos') }}">
                <i class="bi bi-shield-lock"></i> Auditoría
            </a>
        </li>
        {% endif %}

        <li class="nav-item mt-4">
            <a class="nav-link text-danger" href="{{ url_for('security.logout') }}">
                <i class="bi bi-box-arrow-left"></i> Cerrar Sesión
            </a>
        </li>
    </ul>
</nav>
