<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Hut - Gestión Administrativa</title>
    
    <!-- CSS -->
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">

<!-- CSS de Alertas de Stock -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/alerts/alerts_stock.css') }}">
    
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="wrapper">
        {% include '_sidebar.html' %}

        <main class="content">
            {% block content %}{% endblock %}
        </main>
    </div>

   <!-- JS -->
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/layout.js') }}"></script>
    
    {% block extra_js %}{% endblock %}
</body>
</html>